.career-banner
{
	width:100%;
}
.career-banner img
{
	width:100%;
}
	.career-caption
	{
	position:absolute;
	top:250px;
	left:10%;
	width:50%;
	}

@media only screen and (max-width:600px)
{
	.career-caption
	{
		font-size:14px;
		top:170px;
		left:5%;
		width:90%;
	}
	.career-desc
	{
		font-size:16px;
	}
	.padding-left-10
	{
		padding-left:4px;
	}
	.margin-top-40
	{
		margin-top:0px;
	}
	.mobile-60
	{
		width:60%;
	}
}
.width-45
{
	width:45%;
}
.listed
{
	list-style-type:none;
	background:url("../content/careers_arrow_hor.jpg");
	background-repeat:no-repeat;
	background-position:0px 5px;
	float:left;
	width:60%;
}
.listed-right
{
	background-position:25px 3px;
}
.last
{
	width:100%;
}
.my-input
{
	border:0.5px solid #f9f9f9;
	border-bottom:2px solid black;
}
table
{
	width:100%;
}
table tr td
{
	width:20%;
	font-size:18px;
}
.resume-btn
{
	width:15%;
}
@media only screen and (max-width:600px)
{
	.resume-btn
	{
		width:40%;
	}
}
.my-textarea
{
	width:65%;
	border:1px solid black;
	height:150px;
}
@media only screen and (max-width:600px)
{
	.my-textarea
	{
		width:85%;
	}
}
.submit-btn
{
	width:25%;
}
@media only screen and (max-width:600px)
{
	.submit-btn
	{
		width:50%;
	}
}
