.text-light-black
{
	color:#555453;
}
.line-height-25
{
	line-height:25px;
}
.landing-logo
{
	position:absolute;
	left:5%;
}
.text-white
{
	color:white;
}
.background-light-green
{
	background:#69b0ae ;
}
@media only screen and (min-width:360px) and (max-width:640px) and (orientation:portrait)
{
	.mobile-text-left
	{
		text-align:left;
	}
}


/*------------------------------------------------------ */
@font-face
{
	font-family:Roboto-Regular;
	src: url(../font/Roboto-Regular.ttf);
}

.banner-section img
{
	width:100%;
	height:135%;
}
.banner-caption
{
	position:absolute;
	top:180px;
	font-size:62pt;
	font-family:roboto-regular;
	padding:5%;
}
.caption-adjust
{
	top:20%;
}
.banner-caption h1
{
	color:#006c6e;
	width:100%;
}
.banner-description
{
	width:60%;
	line-height:28px;
	font-size:22px;
	padding:1%;
	color:#006c6e;
/*	font-family:Arial Regular;*/
	word-spacing:4px;
}
.text-light-green
{
	color:#69b0ae;
	font-family:roboto-light;
}
.text-dark-green
{
	color:#006c6e;
	font-family:Roboto regular;
}
.project-input
{
	border:0px solid white;
	border-bottom:2px solid #E4E3DD;
	color:#006c6e;
	width:75%;
	-webkit-transition:width 1s;
	transition:width 1s;
}
.project-input:hover
{
	width:80%;
	border-bottom:1px solid #E4E3DD;
}
.radio
{
	width:30px;
	height:20px;
}
.vertical-middle
{
	vertical-align:middle;
}
.project-textarea
{
	width:65%;
	border:2px solid #E4E3DD;
	height:150px;
}
.contact-inputs
{
	width:25%;
	font-size:18px;
	padding:1%;
	border:1px solid white;
}
.background-soap-color
{
	background:#C6E5F2;
}
.text-indent-small
{
	text-indent:30px;
}
.listed-help p
{
	background-image:url("../content/careers_arrow_hor.jpg");
	background-repeat:no-repeat;
	position:10px;
}
.go-to-top
{
	width:2.5%;
	padding:5px;
	display:none;
	opacity:1;
	height:auto;
	position:fixed;
	right:5%;
	top:90%;
	-webkit-transition:opacity 1s;
	transition:opacity 1s;
}
.display-none
{
	display:none;
}
.join-btn
{
	width:auto;
	padding:1.5%;
	padding-left:2.5%;
	padding-right:2.5%;
	font-size:19px;
	background:#d40250;
	border:1px solid #d40250;
	text-align:center;
	font-family:Arial Regular;
	color:white;
	letter-spacing:1px;
	border-radius:4px;
	-webkit-transition:background 1s;
}
.join-btn:hover
{
	background:#d40250;
}
	.index-contact
	{
		width:25%;
		margin-left:1%;
		padding:1%;
		font-size:1rem;
	}
@media only screen and (min-width:360px) and (max-width:800px) and (orientation:portrait)
{
	.caption-adjust
	{
		top:40px;
	}
}
@media only screen and (max-width:740px) and (orientation:portrait)
{
	.caption-adjust
	{
		top:0px;
		color:red;
	}
}
@media only screen and (min-device-width:360px) and (max-device-width:640px) and (orientation:portrait)
{
	.landing-img
	{
		height:auto;
		height:auto;
	}
	.banner-caption
	{
		top:350px;
	}
	.caption-adjust
	{
		top:40px;
	}
.join-btn
{
	width:auto;
	padding:5%;
	font-size:4rem;
	background:#d40250;
	border:1px solid #d40250;
	text-align:center;
	color:white;
	font-weight:bold;
}
	.banner-caption h1
	{
		font-size:5rem;
	}
	.banner-caption .oneless
	{
		font-size:3.5rem;
	}
	.heading-normal
	{
		font-size:2rem;
		color:blue;
	}
	.banner-description
	{
		width:80%;
		height:240px;
		overflow:hidden;
		text-overflow:ellipsis;
		padding:5%;
		font-size:2rem;
		line-height:40px;
	}
	.description-adjust
	{
		height:200px;
		padding:1%;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	.line-height-25
	{
		line-height:normal;
	}
	.font-24
	{
		font-size:2.8rem;
	}
	.project-input
	{
		font-size:3.5rem;
		padding:4%;
		border:1px solid #000;
		width:90%;
		margin-top:5%;
		margin-bottom:5%;
	}
	.project-textarea
	{
		width:100%;
		font-size:2rem;
		border:1px solid #000;
		margin-top:5%;
		height:350px;
	}
	.mobile-width-full
	{
		width:100%;
	}
	.mobile-font-4
	{
		font-size:4rem;
	}
	.mobile-font-5
	{
		font-size:5rem;
	}
	.contact-section
	{
		padding:2.5%;
		padding-top:10%;
		padding-bottom:10%;
	}
	.width-10
	{
		width:10%;
	}
	.contact-inputs
	{
		width:95%;
		font-size:3.5rem;
		margin-top:2.5%;
		margin-bottom:2.5%;
	}
	.project-image-vvsmall
	{
		width:30%;
	}
	.padding-3,.padding-5
	{
		padding:0%;
	}
	.float-right
	{
		float:left;
	}
	.padding-right-50
	{
		padding-right:0%;
	}
	.mobile-width-40
	{
		width:10%;
	}
	.mobile-padding-right-40
	{
		padding-right:40%;
	}
	.text-indent-small
	{
		text-indent:0px;
	}
	.mobile-width-auto
	{
		width:10%;
	}
	.mobile-width-auto40
	{
		width:40%;
	}
	.mobile-width-auto50
	{
		width:50%;
	}
	.mobile-width-auto30
	{
		width:30%;
	}
	.mobile-width-auto20
	{
		width:20%;
	}
	.mobile-width-auto10
	{
		width:10%;
	}
	.inner-form .inputs input, #submit_contact2
	{
		width:700px;
		font-size:4rem;
		padding:5%;
		border:1px solid black;
	}
	.features-items
	{
		width:100%;
		padding-top:5%;
		padding-bottom:5%;
	}
	.features-items img
	{
		width:300px;
	}
	.features-items h4
	{
		font-size:4.5rem;
	}
	.features-items p
	{
		font-size:3.5rem;
	}
	.mobile-font-normal
	{
		font-size:7rem;
	}
	.margin-top-40
	{
		margin-top:0%;
	}
	.listed
	{
		list-style-type:none;
		background:url("../content/right-arrow.png");
		background-repeat:no-repeat;
		background-position:25% 60%;
		float:left;
		font-size:4rem;
	}
	.listed-right
	{
		background-position:30% 60%;
	}
	.device-hide
	{
		display:none;
	}
	.go-to-top
	{
		display:none;
	}
	.footer-content,.footer-logo,.footer-menu,.footer-help,.footer-contact
	{
		width:94%;
		text-align:center;
	}
	.mobile-font-2
	{
		font-size:2rem;
	}
	.footer-menu,.footer-help,.footer-contact
	{
		margin-top:10%;
	}
	.desktop
	{
		display:none;
	}
	.mobile-version
	{
		display:inline;
		margin-bottom:2%;
	}
	.mobile-version select
	{
		font-size:3.7rem;
		padding:1%;
		border:1px solid black;
	}
	.inputs .join-btn
	{
		width:100%;
		float:left;
	}
	.mobile-version select option
	{
		font-size:1rem;
	}
	.mobile-logo a img
	{
		width:600px;
	}
	.index-contact
	{
		width:100%;
		margin-top:3%;
		padding:5%;
		font-size:3rem;
	}
	.myfile
	{
		padding:5%;
		width:50%;
		font-size:4rem;
	}
	.radio
	{
		width:60px;
		height:100px;
	}
	.mobile-margin-left-15
	{
		margin-left:15%;
	}
	.text-center
	{
		text-align:center;
	}
.text-center
{
	text-align:center;
}	
	.width-80
	{
		width:90%;
	}
	.float-left
	{
		float:none;
		padding-left:15%;
	}
	.float-right
	{
		float:none;
		padding-right:15%;
	}
}
.width-80
{
	width:80%;
}
.font-arial
{
	font-family:arial regular;
}
.float-left
{
	float:left;
}

/*================================================= */

		@media only screen and (max-width:400px) and (orientation:portrait)
		{
			.inner-subheader
			{
				color:white;
				text-align:center;
			}
			.caption-adjust
			{
				top:140px;
				font-size:16px;
				width:100%;
				padding:0px;
			}
			.caption-adjust h1
			{
				display:none;
			}
			.description-adjust
			{
				font-size:16px;
				line-height:normal;
				height:100%;
			}
			.mobile-image-small
			{
				width:10%;
			}
			.mobile-margin-none
			{
				padding-top:5%;
			}
			.landing-logo
			{
				width:250px;
			}
			.oneless-adjust
			{
				font-size:16px;
			}
			h1
			{
				font-size:24px;
			}
			h2
			{
				font-size:22px;
			}
			p
			{
				font-size:18px;
			}
			.mobile-font-5,.mobile-font-4
			{
				font-size:18px;
			}
			.landing-contact
			
			{
				padding:10px;
				font-size:20px;
				margin-top:3px;
				margin-bottom:3px;
				width:89%;
			}
			.landing-join-btn
			{
				font-size:18px;
			}
		}
/*-------------------------------------------------------------------------------- */
