@media only screen and (min-width:360px) and (max-width:640px) and (orientation:portrait)
{
	.mini-header
	{
		font-size:4rem;
		width:99%;
	}
	.banner
	{
		width:100%;
		height:40%;
	}
	.main-body
	{
		top:45%;
		width:92%;
	}
	.new-website
	{
		width:90%;
	}
	.new-website .new-website-content
	{
		font-size:18pt;
	}
	.click-act
	{
		width:100%;
		padding-top:5%;
		padding-bottom:5%;
		text-align:left;
		font-size:2.5rem;
	}
	.first-column,.second-column,.third-column,.first-half,.second-half
	{
		width:90%;
		text-align:center;
	}
	.connect-input
	{
		width:90%;
		margin-left:3px;
		margin-top:2%;
		font-size:1.5rem;
	}
	.join-us-btn
	{
		font-size:24px;
		padding-left:5%;
		padding-right:5%;
		margin-top:5%;
	}
	.landing-logo
	{
		top:12%;
		width:30%;
	}
	.landing-banner-heading
	{
		font-size:24px;
		top:24%;
		line-height:normal;
	}
	.mobile-image
	{
		width:50%;
	}
	.landing-banner-data
	{
		font-size:13px;
		width:90%;
		top:50%;
		line-height:normal;
	}
}